.classify_sidebar {
    height: 100vh;
    background: #f7f8fa;

    :global {
        .rv-sidebar__content {
            background-color: #ffffff;
            padding-top: 20px;
        }
    }
}

.classify_card {
    text-align: center !important;
    padding: 10px;
}