// @import '~antd/es/style/variable.less';

// @import './common/css/minimal.css';

html,
body {
  width: auto;
  height: 100%;
  // overflow-x: hidden;
  padding: 0;

  // ::-webkit-scrollbar {
  //   display: none;
  //   width: 0px;
  //   height: 0px;
  // }

  #root {
    // .rv-checkbox {}
  }
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  width: 14px;
  height: 3px;
  border: 10px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.18;
}

.swiper-pagination-bullet-active {
  border: 10px;
  background-color: rgb(21, 63, 136, 0.7);
  opacity: 1;
}

#nprogress .bar {
  background: #1f22e3 !important; //自定义颜色
}

#__vconsole {
  .vc-switch {
    bottom: 160px !important;
  }
}

.rv-sidebar-item:hover {
  color: #1654ff;
}

:root:root {
  //导航<
  --rv-nav-bar-text-color: #1654ff;
  --rv-nav-bar-icon-color: #1654ff;
  //分类
  // --rv-sidebar-active-color: #1654ff;
  // --rv-sidebar-selected-text-color: #4a4a4a;
  --rv-sidebar-selected-border-color: #1654ff; // --rv-list-text-line-height: 7.8;
  // 商品卡片
  --rv-product-card-background-color: #ffffff;
}
