.order_card {
  box-shadow: 0px 8px 0 0 #ffffff, 0 10px 5px 0 rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
}

.order_nav {
  height: 100%;
  background: linear-gradient(#fafafa, #f5f5f5);
}

.button_width {
  width: 76px;
}
